.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #cdcdff;
    box-sizing: border-box;
}

.layout {
    border: 1px solid;
    padding: 5px;
    box-sizing: border-box;
    &.XL {
        width: 100%;
        height: 50vh;
    }
    &.L {
        width: 100%;
        height: 25vh;
    }
    &.SM {
        width: 50%;
        height: 25vh;
    }
}

